#div_form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#div_result {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

label {
    font-weight: bold;
}

div {
    width: 100%;
}

#url {
    width: 100%;
}
